:root {
    
    
  }

/*body {
    --md-code-font: "consolas";
    font-size: 18px;
}*/

.md-nav__title {
    display: none;
}

.home-link {
    font-weight: bold;
}

thead th:empty {
    border: thin solid red !important;
    display: none;
}


.md-typeset pre > code {
    max-height: 15rem;
}

p {
    font-size: 15px; 
    line-height: 1.5;  
  }
  
  .md-typeset .admonition.info,
.md-typeset details.info {
  border-color: rgb(155, 43, 43);
}
.md-typeset .info > .admonition-title,
.md-typeset .info > summary {
  background-color: rgba(155, 43, 43, 0.1);
}
.md-typeset .info > .admonition-title::before,
.md-typeset .info > summary::before {
  background-color: rgb(155, 43, 43);
  -webkit-mask-image: var(--md-admonition-icon--info);
          mask-image: var(--md-admonition-icon--info);
}